html{
font-size: 100;
}
/*Es un reset se usa para anular los por defecto que tienen los navegadores,
tambien sirve para darle propiedades a las etiquetas que aun no tienen propiedades en css*/
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #706363;
    background-color: #fbf8f8;
    padding-top: 200px;
}

h1{
    color: red;
    font-size: 32px;
    text-align: center;
}
/* fin de la seccion 11*/

/*Inicio de la seccion 12*/

/*Aplicar estilos a clases*/
.destacado{
    background-color:#fff3cd;
    padding: 10px;
}

/*Aplicar estilos a id*/
#inicio{
    position: fixed;/*fija con respecto a la ventana. La cabezara queda fija arriba*/
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1f4e79;
    padding: 12px 20px;
    z-index: 100; 
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/*#inicio{
    position: sticky; /*Fluye normal y se pega al llegar al limite de su contenedor
    top: 0;
}

/*Estilos solo a enlaces dentro del nav*/
nav a{
    color: #fff;
    margin-right: 30px;
    transition: color 0.3s; /*Cambio suave*/
}

nav a:hover{
    color: #f8cbad;
}

/*Pseudo-clase :nth-child filas cebra en la tabla*/
tbody tr:nth-child(even){
    background-color: #e0d8d8;
}

/*Pseudo-elemento ::first-letter y ::selection*/
article p::first-letter{
    font-size: 32px;
    font-weight: bold;
    color: #c55a11;
}

::selection{
    background-color: #1f4e79;
    color: white;
}

/*Fin de la seccion 12*/

/*Inicio de la seccion 14*/
blockquote{
    font-style: italic;
    color: #555;
    border-left: 4px solid #1f4e79;
}

/*tabla del calendario*/
table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 24px;
}

caption{
    padding: 8px;
    font-weight: 700;
    margin-bottom: 24px;
}

figure{
    border: 1px solid #dddddd;
    border-radius: 6px;
    padding: 12px;
}

section{
    margin-bottom: 32px;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
}
/*Aplica a la parte vertical y horizontal el auto: reparte el espacio sobrante a ambos lados, lo centra en un
elemento con ancho limitado de max-width: 1000px*/

header nav li{
   /* display: inline-block;
    margin-right: 15px; */
}
/*Coloca las opciones del menu en linea, una al lado del otro*/
/*Visibility: hidden; oculta la linea del menu, pero sigue existiendo*/
/*Display: none; oculta la linea del menu y libera el espacio*/

/*fin de la seccion 14*/

/*Inicio de la seccion 15*/
.figura-destacada{
    position: relative;/*lo posiciona como elemento padre y este no se mueve. Es referencias a hijos absolutos*/
}

.etiqueta{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #c55a11;
    color: white;
    border-radius: 4px;
    font-size: 0.75rem;
    z-index: 10;
}
/*Z-index solo funcionan en elementos con posicion declarada
si elemento es estatic no funciona
escala de valores de z-index
10 para elementos posiccionados dentro del contenido
100 para cabecera fija
1000 para ventanas emergentes y capas superpuestas
9999 no hace falta usarlo casi nunca porque no deja margen a otro valor por encima*/

/*Fin de la seccion 15*/

/*inicio de la seccion 16 flex-box*/
header nav ul{
    display: flex;
    list-style-type: none;
    gap: 15px; /*separador uniforme entre elementos*/
    justify-content: space-evenly;

}
/*Display: flex; Activa el flexbox y coloca en filas horizontales los elementos por defecto*/

.centrado{
    display: flex;
    justify-content: center;/*centrado horizontal*/
    align-items: center;/*centrado vertical*/
}

header nav{
    align-self: center;
    /*anula el align-items para el elemento especifico*/
}

.fila-tarjetas{
    display: flex;
    gap: 20px;
    flex: 1;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    border-radius: 8px;
    /*padding: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;*/
}
/*wrap salta hacia abajo, wrap-reverse salta hacia arriba y nowrap no salta a ningun lado*/

.tarjeta{
    display: flex;
    flex: 1;
    gap: 20px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    background-color: #dce6f1;
    padding: 20px;
    margin-top: 32px;
}
/*fin de la seccion 16*/

/*Inicio de la seccion 17 Grid*/
.galeria-grid{
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3,1fr);
    grid-template-columns: 2fr 1fr;/*la primera es doble que la otra*/
    grid-template-columns: 250px 1fr;
    gap: 20px;

}
/*activa gid al igual que flex, se declara en el contenedor*/

.galeria-grid figure:first-of-type{
    grid-column: 1 / 3; /*desde la linea 1 hasta la 3: abarca 1 2
    el segundo numero es donde la linea termmina, no la ultima columna que ocupa*/

}

.galeria-grid figure:first-of-type{
    grid-column: span 2;/*Ocupa 2 columnas, desde donde le toque. Mas legible y no depende de una posicion*/
}

/*con filas*/
.destacado{
    grid-row: span 2; /*Abarca 2  filas*/
}

#contenido{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 24px;

    grid-template-areas: 'indice principal' 'indice lateral';
    /*CSS dibuja la estructura, cada cadena de texto es una fila
    cada palabra dentro es una celda
    repetir un nombre hace que una zona abarque varias celdas.
    Aqui el indice ocupa 2 filas de la primera columna*/
    /*Asignar cada elemento a su area*/
    /*#contenido > nav (grid-area: indice;)
    #contenido > article (grid-area: principal;)
    #contenido > aside (grid-area: lateral;)
    grid-template-areas: 'indice principal';*/
}

/*Que las imagenes no se deformen*/
.galeria-grid img {
    width: 100%;
    height: 200px;
    object-fit: cover; /*Recorta por el centro en vez de deformar*/
    border-radius: 6px;
}

.tarjeta2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;

}
/*Fin de la seccion 17*/
