html{
font-size: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DCE1E7;
    font-size: 1rem;
    line-height: 1.6;
}

h1{
    color: rgb(238, 11, 11);
    font-size: 32px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    transition: all 1s ease;
}

.contenido ul{
    list-style-type: none;
    padding: 10px;
}

.destacado{
    padding: 10px;
}

h2{
    color: #A85D30;
    font-size: 2rem;
    font-weight: bold;
}

h3{
    margin-top: 10px;
}

p{
    font-size: 1rem;
    font-weight: bold;
}

/*CH es el ancho del caracter, el valor 70 marca un rango de lectura comoda por linea o renglon, mas larga la vista se pierde*/

p{
    max-width: 100ch;
    transition: all 1s ease;
    display: block;
}

a{
    list-style-type: none;
    text-decoration: none;
}

h1:hover{
    transform: scale(1.5rem);
}

nav a:hover{
    text-decoration: none;
    color: #421908;
    
}

header, footer{
    display: flex;
    justify-content: space-between;
    background-color: #CE8B5C;
    /*background-image: url(Recursos/fondo.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
    gap: 20px;
    z-index: 100;
    /*display: inline-block;*/
}

.logo{
    display: flex;
    align-items: center;
}
header nav{
    align-self: center;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    gap: 40px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 20px;
}

div a:hover{
    text-decoration: none;
    color: #421908;
}

#bienvenida{
    color: #A85D30;
}

/*Inicio de la seccion 18*/

caption{
    text-align: left;
    color: #6b0280;
    padding: 8px;
    font-weight: 700;
    margin-bottom: 24px;
    text-transform: uppercase;
}

thead tr{
    background-color: #A85D30;
}

tbody tr:hover{
    background-color: #ECCCB4;
}

.listas{
    list-style-type: none;
    padding: 30px;
}

table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 24px;
}

.formulario{
    display: grid;
    grid-column: 1fr 1fr 1fr;
    width: 600px;
    padding: 40px;
}

fieldset{
    display: grid;
    padding: 16px;
    margin-bottom: 25px;
    border-radius: 20px;
    border: 1px solid gray;
}

form input:focus
form select:focus
form text-area:focus{
    outline: none;
    border-color: #d51717;
    box-shadow: 0 0 0 3px rgba(52, 154, 250, 1);
    /*Halo azul alrededor del campo activo, focus no es decoracion, es una guia para el usuario*/
}

/*Estados de validacion*/
form input:invalid:not(:placeholder-shown){
    border-color: #d51717;
}

form input:valid:not(:placeholder-shown){
    border-color: green;
}

form small{
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 0.8rem;
    color: #6b0280;
}

/*Estados de los botones*/

.botones button{
    background-color: #d51717;
    color: white;
    border-radius: 6px;
    width: 80px;
    cursor: pointer;
    font-family: inherit;
}

button:hover{
    background-color: #a8490d;
    /*Estado 1 hover*/
}

button:focus{
    outline: 2px solid #f5c518;
    outline: outset #6b0280;
    /*Pone un borde sombreado de color*/
}

button:active{
    background-color: #1f4e79;
    /*Color oscuro al clikear*/
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="number"], input[type="date"]{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
}

#Mesas{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
}

/*Fin de la seccion 18*/

/*Inicio de la seccion 19*/
header a nav:hover{
    color: #f8cbad;
    transition: 0.3s;
    transform: translateY(10px);
    /*Ease: arranca lento, acelera y frena por omision*/
    /*Ease-in: arranca lento*/
    /*Ease-out: sale rapido*/
    /*Easeint-out: hace las dos anteriores*/
}

button{
    transition: all 1.3s ease;
}
/*Fin de la seccion 19*/

/*Trabajo en galeria*/
.imagenes{
    display: grid;
    width: 65%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 40px;
    gap: 10px;
}

@keyframes rotar{
    0%{
        transform: rotate(-3deg);
    }

    25%{
      transform: rotate(0deg);  
    }

    50%{
        transform: rotate(3deg);  
    }

    100%{
        transform: rotate(-3deg);  
    }
    
}

img{
    animation: rotar 3s infinite;
}

img:hover{
    filter: grayscale(1) brightness(1.1);
    transition: all 2s ease;
}

.imagene1:hover{
    color: #a8490d;
}

.imagene2:hover{
    color: #a8490d;
}

.imagene3:hover{
    color: #a8490d;
}

.horario{
    display: flex;
    align-items: center;
    gap: 20px;
}

.confirmacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 20px;
}

figure{
    width: 300px;
}

/*Footer*/

/* #footer{
    background-color: #CE8B5C;
    display: flex;
    justify-content: space-between;
    margin: 20px;
} */

@keyframes aparecer{
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    animation: aparecer 4s ease;
}